<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pastry.mapping.ImDeliveryTrackingMapper" >
  <resultMap id="BaseResultMap" type="com.pastry.pojo.ImDeliveryTracking" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="express_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="express_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="order_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="reach_provice" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="reach_city" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="reach_county" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="reach_detail" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, express_code, express_name, order_code, reach_provice, reach_city, reach_county, 
    reach_detail, status, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from im_delivery_tracking
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from im_delivery_tracking
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pastry.pojo.ImDeliveryTracking" >
    insert into im_delivery_tracking (id, express_code, express_name, 
      order_code, reach_provice, reach_city, 
      reach_county, reach_detail, status, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{expressCode,jdbcType=VARCHAR}, #{expressName,jdbcType=VARCHAR}, 
      #{orderCode,jdbcType=VARCHAR}, #{reachProvice,jdbcType=VARCHAR}, #{reachCity,jdbcType=VARCHAR}, 
      #{reachCounty,jdbcType=VARCHAR}, #{reachDetail,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.pastry.pojo.ImDeliveryTracking" >
    insert into im_delivery_tracking
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="expressCode != null" >
        express_code,
      </if>
      <if test="expressName != null" >
        express_name,
      </if>
      <if test="orderCode != null" >
        order_code,
      </if>
      <if test="reachProvice != null" >
        reach_provice,
      </if>
      <if test="reachCity != null" >
        reach_city,
      </if>
      <if test="reachCounty != null" >
        reach_county,
      </if>
      <if test="reachDetail != null" >
        reach_detail,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="expressCode != null" >
        #{expressCode,jdbcType=VARCHAR},
      </if>
      <if test="expressName != null" >
        #{expressName,jdbcType=VARCHAR},
      </if>
      <if test="orderCode != null" >
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="reachProvice != null" >
        #{reachProvice,jdbcType=VARCHAR},
      </if>
      <if test="reachCity != null" >
        #{reachCity,jdbcType=VARCHAR},
      </if>
      <if test="reachCounty != null" >
        #{reachCounty,jdbcType=VARCHAR},
      </if>
      <if test="reachDetail != null" >
        #{reachDetail,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pastry.pojo.ImDeliveryTracking" >
    update im_delivery_tracking
    <set >
      <if test="expressCode != null" >
        express_code = #{expressCode,jdbcType=VARCHAR},
      </if>
      <if test="expressName != null" >
        express_name = #{expressName,jdbcType=VARCHAR},
      </if>
      <if test="orderCode != null" >
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="reachProvice != null" >
        reach_provice = #{reachProvice,jdbcType=VARCHAR},
      </if>
      <if test="reachCity != null" >
        reach_city = #{reachCity,jdbcType=VARCHAR},
      </if>
      <if test="reachCounty != null" >
        reach_county = #{reachCounty,jdbcType=VARCHAR},
      </if>
      <if test="reachDetail != null" >
        reach_detail = #{reachDetail,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pastry.pojo.ImDeliveryTracking" >
    update im_delivery_tracking
    set express_code = #{expressCode,jdbcType=VARCHAR},
      express_name = #{expressName,jdbcType=VARCHAR},
      order_code = #{orderCode,jdbcType=VARCHAR},
      reach_provice = #{reachProvice,jdbcType=VARCHAR},
      reach_city = #{reachCity,jdbcType=VARCHAR},
      reach_county = #{reachCounty,jdbcType=VARCHAR},
      reach_detail = #{reachDetail,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>